.bikes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .frow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Add space between items */
    width: 100%;
  }

  .bike {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    background-color: #f9f9f9;
    overflow: hidden; /* Hide overflow */
    text-align: center;
  }
  .bike-link {
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Inherit color */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .bikeimg {
    width: 100%;
    height: 150px; /* Maintain aspect ratio */
    /* border-bottom: 1px solid #ccc; Optional: Add a bottom border to separate the image */
  }

  .separator {
    border: 0;
    height: 1px;
    background-color: #000;
    width: 80%;
    margin: 20px 0; /* Add space around the separator */
  }

  .bike-description {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
  }